@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 40px;
}

.logo{
    margin-right: 50px;
}

ul a{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #000;
    width: 90px;
    justify-content: center;
}

nav li{
    display: inline;
}

nav{
    padding: 21px 0;
}

.linha-vertical{
    border: 1px solid #c1c1c133;
    height: 80px;
    margin-right: 20px;
}

nav ul li i{
    font-size: 16px;
    margin-bottom: 5px;
}

nav ul li span{
    font-size: 12px;
}

nav li{
    list-style: none;
}

.lupa{
    margin-right: 10px;
    font-size: 20px;
    color: #0077B5;
}

form{
    margin-right: 20px;
}

#search{
    margin-right: 13px;
    width: 220px;
    height: 25px;
    border: none;
}

input::placeholder {
    font-size: 16px;
    color: #cecece;
  }

.perfil-preview{
    margin-right: 70px;
}

.perfil-preview .img-profile{
    width: 42px;
    height: 42px;
    border-radius: 50px;
    margin-right: 15px;
}

.perfil-preview div p{
    font-size: 12px;
}

.flex-div{
    display: flex;
    align-items: center;
}

.you{
    margin-left: 10px;
    color: #1818189c
}

.small-profile{
    display: flex;
    align-items: center;
}

.text-green-small{
    color: #02B033;
}

.username-align{
    display: inline-flex;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.linha-vertical-other{
    border: 1px solid #c1c1c133;
    height: 80px;
}

.other i, strong{
    padding: 2px 0;
}


.other strong{
    font-size: 12px;
}


/* seção principal */

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

/* SECTION PROFILE */

.menu-profile{
    padding: 0 25px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    margin-bottom: 35PX;
}

.bg-linkedin{
    background: url("./images/bg-profile.png");
    width: 850px;
    height: 180px;
    border-radius: 4px 4px 0 0;
}

.icons-bg-linkedin{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.points-bg-linkedin a{
    background-color: #fff;
    margin-left: 15px;
    border-radius: 4px;
    text-decoration: none;
    color: #181818;
}

.icon-update{
    background-color: #fff;
    color: #181818;
    padding: 10px 14px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.icon-points{
    padding: 10px 17px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.icon-edit{
    padding: 10px 10px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.icon-edit span{
    margin-left: 8px;
}

.image-profile img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: relative;
    bottom: 38px;
    border: 10px solid #fff;
}
.profile-position{
    display: flex;
}

.mae-position-1{
    width: 100%;
    padding: 10px 0 0 25px;
}

.position-1 {
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.freelance{
    text-align: justify;
    margin-bottom: 15px;
}

.logo-amarela {
    width: 50%;
    display:flex;
}

.logo-amarela img{
    height: 16px;
    margin-top: 4px;
    margin-left: 8px;
}

.icone-localizacao{
    display: flex;
    padding-top: 4px;
}

.icone-localizacao img{
    height: 16px;
    margin-right: 8px;
}

.button-contact-info{
    margin-right: 15px;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    padding: 10px 37px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.button-connections{
    padding: 10px 20px;
    border: 1px solid #0077B5;
    border-radius: 4px;
    background: #fff;
    color: #0077B5;
    cursor: pointer;
}


/* SECTION ABOUT */

.about{
    margin-bottom: 20px;
}

.button-profile{
    padding: 15px 92px;
    border: 1px solid rgba(204, 204, 204, 0.89);
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.button-active{
    padding: 15px 48px;
    border: 1px solid rgba(204, 204, 204, 0.89);
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.button-article{
    padding: 15px 78px;
    border: 2px solid rgba(204, 204, 204, 0.89);
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

.gradient-about{
    height: 50px;
    background: linear-gradient(180deg, rgba(241, 244, 248, 0.8) 0%, rgba(241, 244, 248, 0) 100%);
}

.about-text{
    background-color: #fff;
    padding: 10px 25px;
    text-align: justify;
    border-radius: 4px;
}

.about-text h3{
    margin-bottom: 15px;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
}

.about-text p{
    margin-bottom: 17px;
    font-size: 14px;
}

.about-text a{
    font-size: 12px;
    text-decoration: none;
    color:#0275B1;
}


/* PROJECTS */

.projects{
    padding: 30px 25px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}

.titulo-projects{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.titulo-projects span{
    margin-top: 2px;
    color: #747474;
}

.titulo-projects h3{
    margin-right: 15px;
}

.images-projects{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.images-projects img{
    margin-bottom: 15px
}

.images-projects h4{
    margin-bottom: 5px;
}

.images-projects div{
    margin-bottom: 20px;
}

.images-projects small{
    color: #181818c0;
}

.show-all{
    text-decoration: none;
    color:#0275B1;
    font-size: 12px;
}


/* SKILLS */

.skills{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 30px 25px;
    border-radius: 4px;
}

.titulo-skills{
    margin-bottom: 25px;
}

.cards-skills{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.card1, .card2, .card3{
    border: 1px solid #c1c1c15b;
    border-radius: 4px;
}

.card1{
    padding: 15px 20px 15px 20px;
}

.card2{
    padding: 15px 20px 15px 20px;
}

.card3{
    padding: 15px 20px 15px 20px;
}

.cards-skills span{
    font-size: 14px;
}

.span-ux{
    margin-right: 57px;
    font-size: 14px;
}

.span-ui{
    margin-right: 80px;
    font-size: 14px;
}

.span-brand{
    margin-right: 110px;
    font-size: 14px;
}

.span-numero{
    color: #0275B1;
}

.div-span-skill{
    margin-bottom: 5px;
}

/* expirience */

.experience{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 30px 25px;
    border-radius: 4px;
}
.titulo-exp{
    margin-bottom: 25px;
}
.position-freela{
    display: flex;
}
.position-freela img{
    margin-right: 15px;
}
.sub-titulo h4{
    margin-bottom: 10px;
}
.span-self{
    margin-bottom: 5px;
}
.span-inf1{
    font-size: 10px;
    color: #181818;
    margin-right: 10px;
}
.span-inf2{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.486);
    margin-right: 10px;
}
.span-inf3{
    font-size: 10px;
    color: #0275B1;
    margin-right: 10px;
}
.span-jun{
    margin-bottom: 10px;
}
.sub-titulo p{
    font-size: 10px;
    color: #181818;
    margin-bottom: 45px;
}
.position-uxui{
    display: flex;
}
.position-uxui img{
    margin-right: 15px;
}

/* education */

.education{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 30px 25px;
    border-radius: 4px;
}
.titulo-educ{
    margin-bottom: 25px;
}
.position-educ{
    display: flex;
}
.position-educ img{
    margin-right: 15px;
}
.conteudo-educ h4{
    font-size: 14px;
    color: #181818;
    margin-bottom: 10px;
}
.conteudo-educ p{
    font-size: 10px;
    color: #181818;
}
.position-p1{
    margin-bottom: 5px;
}
.position-p2{
    margin-bottom: 10px;
}
.position-p3{
    margin-bottom: 32px;
}











/* aside */
.lateral{
    background-color: lightpink;
    height: 100vh;
    border-radius: 4px;
}