@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logo{
    margin-right: 50px;
}

ul a{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #000;
    width: 90px;
    justify-content: center;
}

nav li{
    display: inline;
}

nav{
    padding: 21px 0;
}

.linha-vertical{
    border: 1px solid #c1c1c133;
    height: 80px;
    margin-right: 20px;
}

nav ul li i{
    font-size: 16px;
    margin-bottom: 5px;
}

nav ul li span{
    font-size: 12px;
}

nav li{
    list-style: none;
}

.lupa{
    margin-right: 10px;
    font-size: 20px;
    color: #0077B5;
}

form{
    margin-right: 20px;
}

#search{
    margin-right: 13px;
    width: 220px;
    height: 25px;
    border: none;
}

input::placeholder {
    font-size: 16px;
  }

.perfil-preview{
    margin-right: 70px;
}

.perfil-preview .img-profile{
    width: 42px;
    height: 42px;
    border-radius: 50px;
    margin-right: 15px;
}

.perfil-preview div p{
    font-size: 12px;
}

.flex-div{
    display: flex;
    align-items: center;
}

.you{
    margin-left: 10px;
    color: #1818189c
}

.small-profile{
    display: flex;
    align-items: center;
}

.text-green-small{
    color: green;
}

.username-align{
    display: inline-flex;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.linha-vertical-other{
    border: 1px solid #c1c1c133;
    height: 80px;
}

.other i, strong{
    padding: 2px 0;
}


.other strong{
    font-size: 12px;
}


/* seção principal */

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

/* main */

.pricipal-profile img{
    width: 170px;
    height: 170px;
    border-radius: 100px;
}
.profile-position{
    display: flex;
}
.position-1 {
    display:flex;
    justify-content: space-between;
}

/* aside */
.lateral{
    background-color: lightpink;
    height: 100vh;
}