@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

/* header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 40px;
}

.logo{
    margin-right: 50px;
}

ul a{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #000;
    width: 90px;
    justify-content: center;
}

nav li{
    display: inline;
}

nav{
    padding: 21px 0;
}

.linha-vertical{
    border: 1px solid #c1c1c133;
    height: 80px;
    margin-right: 20px;
}

nav ul li i{
    font-size: 16px;
    margin-bottom: 5px;
}

nav ul li span{
    font-size: 12px;
}

nav li{
    list-style: none;
}

.lupa{
    margin-right: 10px;
    font-size: 20px;
    color: #0077B5;
}

form{
    margin-right: 20px;
}

#search{
    margin-right: 13px;
    width: 220px;
    height: 25px;
    border: none;
}

input::placeholder {
    font-size: 16px;
    color: #cecece;
  }

.perfil-preview{
    margin-right: 70px;
}

.perfil-preview .img-profile{
    width: 42px;
    height: 42px;
    border-radius: 50px;
    margin-right: 15px;
}

.perfil-preview div p{
    font-size: 12px;
}

.flex-div{
    display: flex;
    align-items: center;
}

.you{
    margin-left: 10px;
    color: #1818189c
}

.small-profile{
    display: flex;
    align-items: center;
}

.text-green-small{
    color: green;
}

.username-align{
    display: inline-flex;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.linha-vertical-other{
    border: 1px solid #c1c1c133;
    height: 80px;
}

.other i, strong{
    padding: 2px 0;
}


.other strong{
    font-size: 12px;
}


/* seção principal */

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

/* main */

.menu-profile{
    padding: 0 25px;
    background-color: #fff;
}

.bg-linkedin{
    background: url("./images/bg-profile.png");
    width: 850px;
    height: 180px;
    border-radius: 4px 4px 0 0 ;
}

.icons-bg-linkedin{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.points-bg-linkedin a{
    background-color: #fff;
    margin-left: 15px;
    border-radius: 4px;
    text-decoration: none;
    color: #181818;
}

.icon-update{
    background-color: #fff;
    color: #181818;
    padding: 10px 14px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.icon-points{
    padding: 10px 17px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.icon-edit{
    padding: 10px 10px;
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
}

.icon-edit span{
    margin-left: 8px;
}

.image-profile img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: relative;
    bottom: 38px;
    border: 10px solid #fff;
}
.profile-position{
    display: flex;
}

.mae-position-1{
    width: 100%;
    padding: 10px 0 0 25px;
}

.position-1 {
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.freelance{
    text-align: justify;
    margin-bottom: 15px;
}

.logo-amarela {
    width: 50%;
    display:flex;
}

.logo-amarela img{
    height: 16px;
    margin-top: 4px;
    margin-left: 8px;
}

.icone-localizacao{
    display: flex;
    padding-top: 4px;
}

.icone-localizacao img{
    height: 16px;
    margin-right: 8px;
}

.button-contact-info{
    margin-right: 15px;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    padding: 10px 37px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.button-connections{
    padding: 10px 20px;
    left: calc(50% - 170px/2 - 100px);
    border: 1px solid #0077B5;
    border-radius: 4px;
    background: #fff;
    color: #0077B5;
    cursor: pointer;
}














/* aside */
.lateral{
    background-color: lightpink;
    height: 100vh;
    border-radius: 4px;
}